node_modules/
test-results/
tests-examples/
!test-results/info.md
playwright-report/
playwright/.cache/
.DS_Store
.env
.env.develop
.env.release
.env.local

storageState.json
*.storageState.json
newman
.vscode/
.idea/
.npm/
.playwright-mcp
.history/
playwright/.auth/
.claude/settings.local.json
